.container {
  padding: 10% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .choices {
    margin: 40px;
    width: min(90%, 640px);

    .choice-input {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;

      input {
        flex-grow: 1;
      }
    }

    .text {
      display: flex;
      align-items: flex-end;
      height: 100%;
      flex-grow: 1;
    }

    .actions {
      justify-self: flex-end;
      flex-grow: 0;
      flex-shrink: 0;

      .button-wrap {
        margin: 0 2px;
      }
      .delete-wrap {
        margin-left: 15px;
      }
    }
  }
}
