.container {
  padding: 10% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .choices {
    width: min(90%, 640px);
    margin: 40px;
  }
}

.error-message {
  width: 100%;
  color: red;
  height: 1rem;
  font-size: 12px;
}
