.container {
  padding: 10% 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .choices {
    width: min(90%, 640px);
    margin: 40px;
    pointer-events: none;

    .label {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .text {
        display: flex;
        align-items: flex-end;

        flex-grow: 1;
      }

      .info {
        display: flex;
        align-items: flex-end;

        flex-grow: 0;
      }
    }
  }
}
