.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 15px;

  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--color-1);
  background: var(--color-5);

  .login-button {
    width: 100%;
    max-width: 240px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--color-1);
    border: 0;
    font-weight: normal;
    font-size: 0.8rem;
    cursor: pointer;

    .brand-icon {
      display: inline-block;
      margin-right: 10px;
      font-size: 1.1rem;
    }

    .brand-name {
      font-weight: bold;
      margin-right: 10px;
      font-size: 1rem;
    }
  }
}
